/* Import fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* CSS for title */
.title {
  text-align: center;
  /* import font for title */
}

/* CSS for statement */
.statement {
  width: 100%;
  text-align: end;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* CSS for button */
.button {
  width: 15%;
  background-color: var(--green);
  float: left;
  margin-left: 70%;
  
}