/* Import fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* CSS for title */
.title {
  text-align: center;
  /* import font for title */
}

/* CSS for statement */
.statement {
  width: 100%;
  text-align: end;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* CSS for button */
.button {
  width: 15%;
  background-color: var(--green);
  float: left;
  margin-left: 70%;
  
}
.home-page{
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.home-page-title{
  font-size: 5rem;
  margin-bottom: 20px;
  color: #9e7120;
}

.home-page-statement {
  margin-bottom: 40px;  
}

.get-started-link{
  font-weight: bold;
  display: flex;
  align-items: center;
}

.get-started-link .icon{
  margin-left: 5px;
  transition: margin-left 0.5s;
}

.get-started-link:hover{
  text-decoration: none;
}

.get-started-link:hover .icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px){
  .home-page{
    padding: 0 30px;
  }
  .home-page-title{
    font-size: 6rem;
  }

  .home-page-statement{
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1400px){
  .home-page-title{
    font-size: 7rem;
  }

  .home-page-statement{
    font-size: 2rem;
  }
  
  .get-started-link{
    font-size: 1.8rem;
  }
}