.checkout-btn {
    border: 0;
    border-radius: 20px;
    width: 200px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--green);
    color: white
}

.cart-page-image {
    background-image: url('../../assets/images/cart-image.jpeg');
    background-size: contain;
    min-height: 87.5vh;
    /* background-repeat: no-repeat; */
}

@media screen and (min-width: 1250px) {
    .cart-page-image {
        background-size: cover;
    }
}

.cart-item-price {
    font-size: 1.2rem;
}

.cart-item-subtotal {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.review-btn {
    margin-top: 20px;
    background-color: var(--white);
    margin-left: 50px;
}