*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* CSS variables */

  --green:#36581e;
  --black: rgba(0, 0, 0, 0.664);
  --white: white;
  --gold: #9e7120;
  --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   --italic: italic;
   line-height: 1.5;
   font-weight: 400; /* UPDATE LATER */
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased; /* CHECK IF NEEDED */
   -moz-osx-font-smoothing: grayscale;  /* CHECK IF NEEDED */
  
   max-width: 100%;
   min-height: 100%;
   
   padding: 0;
   margin: 0;
}

html {
  font-family: var(--cambria); /* UPDATE LATER */
  line-height: 1.5;
  font-weight: 400; /* UPDATE LATER */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* CHECK IF NEEDED */
  -moz-osx-font-smoothing: grayscale;  /* CHECK IF NEEDED */
  color: var(--green);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* CSS for body */
body {
  padding: 0;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
}


/* CSS for page */
.page {
  min-height: 84.5vh;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  max-width: 1400px;
}

/* CSS for ancers */
a {
  font-weight: 500;
  color:var(--green);
  text-decoration: inherit;
}

a:hover {
  color: var(--white);
}

/* CSS for button */
button {
  border-radius: 5px;
  border: 1px solid var(--green);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--black);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--white);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.list-inline {
  display: flex;
  align-items: center;
}

.list-inline .list-item {
  margin-right: 15px;
}

.list-inline .list-item:last-child {
  margin: 0;
}

/* Media queries */ /* UPDATE LATER 
@media (prefers-color-scheme: light) {
  :root {
    color: var(--green);
    background-color: var(--black);
  }

  a:hover {
    color: var(--white);
  }

  button {
    background-color: var(--black);
  }
}*/

/*html {
  font-family: var(--cambria);
 
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
  
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
 
  font-size: 1.2rem;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

/* CSS for button */
/* button { */
  /* border-radius: 5px;
  border: 1px solid var(--green);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--black);
  cursor: pointer;
  transition: border-color 0.25s; 

.btn {
  border: none;
  background-color: unset;
  cursor: pointer;
}


.page {
  min-height: 80vh;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1400px;
}


.d-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-20 {
  margin-bottom: 20px;
}

/* LIST 
.list {
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
}





/* LINK 
.link {
  color: black;
  cursor: pointer;
}

.link:visited {
  color: black;
}

a:hover {
  color: var(--white);
}

button {
  /* background-color: var(--black); 
}*/