*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* CSS variables */
  --green: rgb(5, 165, 5); /* UPDATE LATER IF NEEDED */
  --black: rgba(0, 0, 0, 0.664);
  --white: white;
  --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* UPDATE LATER */
  --italic: italic; /* UPDATE LATER */

 
  line-height: 1.5;
  font-weight: 400; /* UPDATE LATER */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* CHECK IF NEEDED */
  -moz-osx-font-smoothing: grayscale;  /* CHECK IF NEEDED */
 
  max-width: 100%;
  min-height: 100%;
  
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--cambria); /* UPDATE LATER */
  line-height: 1.5;
  font-weight: 400; /* UPDATE LATER */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* CHECK IF NEEDED */
  -moz-osx-font-smoothing: grayscale;  /* CHECK IF NEEDED */
  color: var(--green);
}

/* CSS for body */
body {
  /*margin: 0 auto;*/
  padding: 0;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1400px;
  background-color: var(--black);
}

/* CSS for ancers */
a {
  font-weight: 500;
  color:var(--green);
  text-decoration: inherit;
}

a:hover {
  color: var(--white);
}

/* CSS for button */
button {
  border-radius: 5px;
  border: 1px solid var(--green);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--black);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--white);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



/* Media queries */ /* UPDATE LATER 
@media (prefers-color-scheme: light) {
  /* :root {
    color: var(--green);
    background-color: var(--black);
  } */

  a:hover {
    color: var(--white);
  }

  button {
    background-color: var(--black);
  }
}*/