/* NAVIGATION BAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* CARD */
.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-img{
    width: 40px;
    height: 55px;
}

.card-info{
    display: flex;
    flex-direction: column;
}

.quantity-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.link {
 margin: 15px;
}

footer {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0;
    margin-top: auto;
    background-color:  var(--green);
    position: fixed;
    bottom: 0;
    width: 100%;
  
  }
  
  .signature {
    color: var(--black);
    font-size: 1rem;
    font-family: var(--cambria); /* UPDATE LATER */
    font-weight: bold;
  }