/* CSS for userPage*/
.user-page {
  /* max-width: 350px;
  margin-left: 60px;
  padding: 20px; */
  /* display: flex;
  flex-direction: column; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  min-height: 82vh;
  margin-bottom: 0;
  text-align: left;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* margin-left: 30px; */
  /* margin-top: 20px; */
}

.profile {
  margin-top: 5px;
  margin-bottom: 7px;
  /* margin-left: 25px; */
}

.input-field {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--green);
  box-shadow: 0 2px 2px var(--green);
  background-color: var(--white);
  /* color: var(--white); */
}

.address-input {
  border: 1px solid var(--green);
  box-shadow: 0 2px 2px var(--green);
  background-color: var(--white);
  /* color: var(--white); */
  margin-bottom: 10px;
}

.update-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: var(--green);
  color: var(--black);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1px;
  font-size: 15px;
}

.update-button:hover {
  color: var(--white);
}


