/* CSS for userPage*/
.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  min-height: 82vh;
  margin-bottom: 0;
  text-align: left;
  margin-left: 180px;
}

.user-page-image {
  background-image: url('../../assets/images/profie-image2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

.profile {
  margin-top: 5px;
  margin-bottom: 7px;
}

.input-field {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--green);
  box-shadow: 0 2px 2px var(--green);
  background-color: var(--white);
}

.address-input {
  border: 1px solid var(--green);
  box-shadow: 0 2px 2px var(--green);
  background-color: var(--white);
  margin-bottom: 10px;
}

.update-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: var(--green);
  color: var(--black);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1px;
  font-size: 15px;
}

.update-button:hover {
  color: var(--white);
}